
.principles {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 98px;
  padding-bottom: 73px;
}

@include below(lg) {
  .principles {
    padding-top: 51px;
    padding-bottom: 56px;
  }
}

@include below(md) {
  .principles {
    padding-top: 30px;
    padding-bottom: 33px;
  }
}

.principles-bg {
  z-index: -1;
  position: absolute;
  background: url('../images/principles-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  width: 1800px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  top: 0;
  bottom: 0;
}

@include below(lg) {
  .principles-bg {
    background-image: url('../images/principles-bg-medium.jpg');
  }
}

@include below(md) {
  .principles-bg {
    background-image: url('../images/principles-bg-small.jpg');
  }
}

.principles-bg__left {
  content: '';
  position: absolute;
  display: block;
  width: calc(50vw - 900px);
  top: 0;
  bottom: 0;
  right: 100%;
  background: url('../images/principles-bg.jpg') repeat 0 50%;
  background-size: cover;
}

.principles-bg__left::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
}

.principles-bg__left::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-right: 24px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.principles-bg__right {
  content: '';
  position: absolute;
  display: block;
  width: calc(50vw - 900px);
  top: 0;
  bottom: 0;
  left: 100%;
  background: url('../images/principles-bg.jpg') repeat 100% 50%;
  background-size: cover;
}

.principles-bg__right::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
}

.principles-bg__right::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-left: 24px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.principles__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: #fff;
  margin-bottom: 91px;
  letter-spacing: 0.025em;
  text-shadow:
    -0 -6px 2px #000000,
    0 -6px 2px #000000,
    -0 6px 2px #000000,
    0 6px 2px #000000,
    -6px -0 2px #000000,
    6px -0 2px #000000,
    -6px 0 2px #000000,
    6px 0 2px #000000,
    -1px -6px 2px #000000,
    1px -6px 2px #000000,
    -1px 6px 2px #000000,
    1px 6px 2px #000000,
    -6px -1px 2px #000000,
    6px -1px 2px #000000,
    -6px 1px 2px #000000,
    6px 1px 2px #000000,
    -2px -6px 2px #000000,
    2px -6px 2px #000000,
    -2px 6px 2px #000000,
    2px 6px 2px #000000,
    -6px -2px 2px #000000,
    6px -2px 2px #000000,
    -6px 2px 2px #000000,
    6px 2px 2px #000000,
    -3px -6px 2px #000000,
    3px -6px 2px #000000,
    -3px 6px 2px #000000,
    3px 6px 2px #000000,
    -6px -3px 2px #000000,
    6px -3px 2px #000000,
    -6px 3px 2px #000000,
    6px 3px 2px #000000,
    -4px -6px 2px #000000,
    4px -6px 2px #000000,
    -4px 6px 2px #000000,
    4px 6px 2px #000000,
    -6px -4px 2px #000000,
    6px -4px 2px #000000,
    -6px 4px 2px #000000,
    6px 4px 2px #000000,
    -5px -6px 2px #000000,
    5px -6px 2px #000000,
    -5px 6px 2px #000000,
    5px 6px 2px #000000,
    -6px -5px 2px #000000,
    6px -5px 2px #000000,
    -6px 5px 2px #000000,
    6px 5px 2px #000000,
    -6px -6px 2px #000000,
    6px -6px 2px #000000,
    -6px 6px 2px #000000,
    6px 6px 2px #000000,
    -6px -6px 2px #000000,
    6px -6px 2px #000000,
    -6px 6px 2px #000000,
    6px 6px 2px #000000;
}

@include below(lg) {
  .principles__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@include below(md) {
  .principles__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 30px;
  }
}

@include below(lg) {
  .principles__wrapper {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.principles__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.principles__list-item {
  width: 25%;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
}

@include below(lg) {
  .principles__list-item {
    width: 50%;
  }
}

@include below(md) {
  .principles__list-item {
    width: 100%;
  }
}

.principles-item {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px 12px;
}

@include below(lg) {
  .principles-item {
    border-radius: 16px;
  }
}

.principles-item__title {
  text-transform: uppercase;
  color: #171717;
  font-size: 24px;
  line-height: 26.42px;
  font-weight: bold;
}

.principles-item__title::after {
  content: '';
  width: 58px;
  height: 5px;
  background: #ddb067;
  display: block;
  margin-top: 8px;
}

.principles-item__desc {
  font-size: 18px;
  color: #171717;
  line-height: 24px;
  margin-top: 10px;
}

.principles-item__desc p {
  margin: 0;
}

.principles-item__desc p + p {
  margin-top: 1em;
}

.principles__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@include below(md) {
  .principles__button {
    margin-top: 30px;
  }
}
